/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* General */
body {
    font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: oklch(37.3% 0.034 259.733);
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 1.25em;
    height: 100vh;
}


/* Containers */
.left-container {
    background-color: hsl(210, 33%, 98%);
    padding: 2rem 1rem 2rem 1rem;
}

.right-container {
    background-color:rgb(255, 255, 255);
    padding: 5rem;
}


/* Left container links */
.first-links, .second-links {
    display: grid;
    gap: 8px;
    margin: 2rem 0 2rem 0;
}

.profile img {
    width: 50px;
    filter: opacity(0.75);
}

.add-task-div img {
    width: 36px;
}

.today-div img, .view-all-div img, .second-links img {
    width: 28px;
}

.search-div {
    display: flex;
    gap: 8px;
}

.search-bar {
    padding: 0.5em 0 0.5em 0.25em;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.307);
    background-color: rgb(255, 255, 255);
    color: oklch(37.3% 0.034 259.733);
    font-size: 0.75em;
}

.search-div button {
    font-size: 0.85em;
    padding: 0.3em 0.4em;
    color: oklch(37.3% 0.034 259.733);
    background-color: rgb(115, 115, 115);
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.307);
    cursor: pointer;
}

.search-div button:hover {
    background-color: rgba(115, 115, 115, 0.816);
}

.search-div button:active {
    margin: 0.1em 0 -0.1em 0;
}

.search-div button img {
    display: flex;
    width: 20px;
    filter: invert(10);
}

.first-links div, .second-links div, .profile p {
    border-radius: 8px;
}

.first-links p, .second-links p, .profile p, .add-task-second p {
    padding: 0.25em 0.25em 0.25em 0;
}

.first-links div, .second-links div, .profile {
    display: flex;
    align-items: center;
    gap: 4px
}

.add-task-div p {
    color: rgb(61, 150, 198);
    font-weight: 550;
}

.first-links div:hover, .second-links div:hover, .profile p:hover {
    background-color: rgb(228, 240, 245);
    cursor: pointer;
}

.first-links div:active, .second-links div:active, .profile p:active {
    background-color: rgba(228, 240, 245, 0.534);
}

.projects-heading {
    font-weight: 600;
}

/* Right container tasks list */
.right-container h2 {
    color: rgb(45, 45, 45);
}

.projects-heading {
    padding: 2em 0 0.25em 0;
    font-weight: 550;
}

.task-radio input[type="radio"] {
    width: 15px;
    height: 15px;
}

.task-radio input[type="radio"]:checked {
    accent-color:  rgb(61, 150, 198);
}

.task-item {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    gap: 6px;
    padding: 0.75em 0 0.75em 0;
    margin: 0.5em 0 0.5em 0;
    border-top: 1px solid rgba(0, 0, 0, 0.214);
    border-bottom: 1px solid rgba(0, 0, 0, 0.214);
}

.task-item:nth-child(n+2) {
    border-top: none;
    padding-top: 0.25em;
}

.description {
    font-size: 0.75em;
    color: oklch(37.306% 0.03436 260.191 / 0.734);
}

.date {
    font-size: 0.5em;
    color: oklch(37.306% 0.03436 260.191 / 0.734);
}

.no-tasks-message {
    font-size: 0.85em;
    color: oklch(37.306% 0.03436 260.191 / 0.64);
    padding: 1em 0 1em 0;
}

.add-task-second {
    color: oklch(37.306% 0.03436 260.191 / 0.412);
}

.add-task-second p:hover {
    background-color: rgba(228, 240, 245, 0.407);
    cursor: pointer;
}

.task-info {
    display: flex;
    gap: 8px;
}


/* Dialog form */
dialog {
    justify-self: center;
    align-self: center;
    padding: 2rem;
    background-color: rgb(250, 252, 255);
    color: oklch(37.3% 0.034 259.733);
    border: none;
    border-radius: 8px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.164);
}

dialog form {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

form input, form textarea, form select {
    padding: 0.5em;
    border-radius: 8px;
    border: none;
    background-color: rgb(232, 238, 249);
    color: oklch(37.3% 0.034 259.733);
}

.form-buttons {
    display: flex;
    grid-column: 1 / 3;
    justify-self: flex-end;
    margin: 0.5em 0 0 0;
    gap: 8px;
}

form button {
    font-size: 0.85em;
    padding: 0.3em 0.4em;
    color: oklch(37.3% 0.034 259.733);
    background-color: rgb(232, 238, 249);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(218, 223, 232);
}

form button:active {
    background-color: rgb(208, 212, 221);
    margin: 0.1em 0 -0.1em 0;
}


/* Remove task button */
.remove-task {
    display: grid;
    grid-column: 3 / 3;
    justify-self: center;
    align-self: center;
}

.remove-task-button {
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 12px;
    font-size: 0.7em;
    min-width: 130px;
    background-color: rgb(246, 225, 225);
    font-weight: 550;
}

.remove-task-button:hover {
    background-color: rgba(246, 225, 225, 0.727);
    cursor: pointer;
}

.remove-task-button:active {
    margin: 0.1em 0 -0.1em 0;
    background-color: rgba(246, 225, 225, 0.577);
}


/* Task category */
.task-category {
    display: grid;
    grid-column: 2 / 2;
    justify-content: center;
    align-items: center;    
    /* margin: 0 1em 0 0; */
}

.task-category p {
    font-size: 0.7em;
    color: oklch(37.306% 0.03436 260.191 / 0.537);
}

